<a href="https://colab.research.google.com/github/naoya1110/DL_Lecture_202107/blob/main/Chapter01_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 01: Introduction to Python

## はじめに
この講座では，Google Colaboratory (通称：グーグルコラボ, Google Colab)を使ってPythonのプログラミングをしながら，ディープラーニングに超入門します。まずは，Google Colabの基本的な使い方とPythonの簡単なプログラミングに慣れていきましょう。

## Google Colabの設定
初めに次の項目について設定しておきましょう。


*   行番号の表示
*   インデント量（半角スペース4個）の設定
*   インデントガイドの表示

## なにはともあれ "Hello, world!!"
プログラミングの第一歩，"Hello world!"を表示するに，次のセルを実行してみましょう。（ shift + enter でもセル内のコードを実行できます） Pythonで文字を表示したい場合は，```print("表示したい文字")```を使います。

In [ ]:
print("Hello, world!!")

Hello, world!!

Pythonでコメントアウトするときは```#```を使います。プログラムの行頭に```#```を付けておくとその行のプログラムは実行されません。

In [ ]:
# これはコメント
# print("Hello, world!!")

これらの他にも，セルの追加・削除・移動の方法。行番号の表示方法等を知っておきましょう。 
セルに関する操作は，選択したセルの右上に表示されているツールバーを使って行うことができます。行番号などの設定はブラウザ左上にある **ツール → 設定** から設定できます。

## 文字を表示してみよう

```firstname```, ```lastname```の変数に自分の名前（または適当な名前）を入れてセルを実行してみましょう。

Hello, world!! との違いは， 変数には ” ” （ダブルクオーテーション）を前後につけないことです。

In [ ]:
firstname = "Naoya"
lastname = "Iwamoto"

print("My name is", firstname, lastname, ".")

My name is Naoya Iwamoto .

変数を使った文字列を表示する場合，Pythonのf文字列（f-strings）という機能を使って次のように書くこともできます。このとき，変数である`firstname`, `lastname`はすぐ上のセルで既に定義, 実行されているので，再度定義する必要はありません。

In [ ]:
#f-stringsを使った別の書き方
text = f"My name is {firstname} {lastname}"
print(text)

My name is Naoya Iwamoto

日本語を表示することもできます。

In [ ]:
myouji = "岩本"
namae = "直也"

print("私の名前は", myouji, namae, "です。")
print(f"私の名前は{myouji}{namae}です。")

私の名前は 岩本 直也 です。
私の名前は岩本直也です。

f-stringsは数字を表示する際に表記方法や有効数字を設定できるので便利です。

In [ ]:
pi = 3.141592

print(f"pi={pi:.0f}")     # 小数点以下0桁まで表示
print(f"pi={pi:.2f}")     # 小数点以下2桁まで表示
print(f"pi={pi:.4f}")     # 小数点以下4桁まで表示

pi=3
pi=3.14
pi=3.1416

In [ ]:
x = 123456789

# 指数形式で表示
print(f"x={x:.1e}")
print(f"x={x:.3e}")
print(f"x={x:.5e}")

x=1.2e+08
x=1.235e+08
x=1.23457e+08

In [ ]:
x = 0.3124

# パーセンテージで表示
print(f"降水確率={x:.0%}")
print(f"降水確率={x:.1%}")
print(f"降水確率={x:.2%}")

降水確率=31%
降水確率=31.2%
降水確率=31.24%

## 簡単な計算をしてみよう

Google Colabは電卓としても使用可能です。まずは```a```と```b```の変数に適当な数値を入力してください。

In [ ]:
a = 5
b = 2
print("a=", a)
print("b=", b)

a= 5
b= 2

足し算。演算記号は```+```。

In [ ]:
a+b

7

上のように，実はGoogle Colabでは```print(a+b)```としなくても```a+b```の結果を表示することができます。

引き算。演算記号は```-```。

In [ ]:
a-b

3

掛け算。演算記号は```*```。

In [ ]:
a*b

10

割り算。演算記号は```/```。

In [ ]:
a/b

2.5

切り捨て割り算。演算記号は```//```。

In [ ]:
a//b

2

割り算の余り。演算記号は```%```。

In [ ]:
a%b

1

aのb乗。演算記号は```**```。

In [ ]:
a**b

25

## 論理演算をしてみよう
論理演算（ブール代数）も計算できます。

In [ ]:
a = True
b = False

print("a=", a)
print("b=", b)

a= True
b= False

論理和（OR）

In [ ]:
a or b

True

論理積（AND）

In [ ]:
a and b

False

否定（NOT）

In [ ]:
not a

False

（参考）NOR, NAND, XOR等は標準では備わっていないようですが，ライブラリを使うか，自分で関数を作ればよいと思います。 

関数は，次のように ``` def 関数名（引数）:``` で作り始めます。最後の：をよく忘れるため注意してください。また関数の中身は必ず行の先頭から，インデント（字下げ）して記述します。Tabキーを押せばインデントされます。

In [ ]:
def NOR(a, b):
    x = not (a or b)
    return x

NOR(a, b)

False

## 比較演算をしてみよう
比較演算はif分などで条件分岐をするためによく利用します。

等しい？演算記号は`==`

In [ ]:
a = 2
b = 3

a == b

False

大なり？演算記号は`>`。

In [ ]:
a > b

False

小なり？演算記号は`<`。

In [ ]:
a < b

True

以上？演算記号は`>=`。

注意：`=<`は使えません。

In [ ]:
a >= b

False

以下？演算記号は`<=`。

注意：`=<`は使えません。

In [ ]:
a <= b

True

## forループの書き方

繰り返し処理を行う場合，forループを使います。0から4の5つの数字を出力するプログラムを作ってみましよう。
C言語では，次のように書きます。 for (最初の数，終了条件，1ループで増える数)です。
```
for (int i=0; i<5; i++){
    printf(i);
}　
```
同じプログラムをPythonでも作ってみましよう。
Pythonでは，```range(開始,終了,増加量)``` を使って連続する数字を表現します。 開始と増加量は省略可能で，省略した場合は，```range(0,終了,1)``` と同じです。

次の例では0から5未満，つまり0から4までを1つずつ表示しています。

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

数字を使わずに，配列（リスト）を使ってforループを書くこともできます。ここでは，```noodle_list```がリストになっています。

In [ ]:
noodle_list = ["うどん", "ラーメン", "スパゲッティ"]

for noodle in noodle_list:
    print(noodle)

うどん
ラーメン
スパゲッティ

配列に指標を付け加えたforループ

In [ ]:
for i, noodle in enumerate(noodle_list):
    print(i, noodle)

0 うどん
1 ラーメン
2 スパゲッティ

## whileループの書き方

whileループは，終了条件のみを指定してループさせることが可能です。

次の例では， iの値が5よりも小さい間，ループを繰り返しiの値を表示します。

In [ ]:
i = 0

while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

## if文の書き方
変数```n```に入っている数値（整数）が偶数か奇数かを判定するプログラム。

In [ ]:
n = 5

if n%2 == 0:  # ｎを2で割ったあまりが0と等しいならば，偶数である
    print(n, "は偶数です")
else:  # それ以外は奇数である
    print(n, "は奇数です")

5 は奇数です

変数```n```の数値は整数ではないかもしれないので，本当は以下のようにプログラムを書いた方が良いかもしれません。

In [ ]:
n = 5.2

if n%2 == 0:
    print(n, "は偶数です")
elif n%2 == 1:
    print(n, "は奇数です")
else:
    print(n, "は整数ではありません")

5.2 は整数ではありません